* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-family: 'Times New Roman', sans-serif;
  background-color: black;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#root {
  width: 100%;
}

.content-wrapper {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: 100vh;
}

.page-section {
  scroll-snap-align: start;
  min-height: 100vh;
}
