*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img.picture {
    width: 150px;
    height: auto;
    border-radius: 8px;
}
body {
    font-family: 'Times New Roman', sans-serif;
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}