.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    color: rgb(218, 14, 92);

    &:hover {
        color: rgb(201, 15, 114);
    }
}

.header__logo {
    margin-left: 4rem;
}

.navbar {
    margin: 0 auto;
}

ul {
    display: flex;
    align-items: center;

    li {
        list-style: none;
        margin: 0 1rem;

        a {
            text-decoration: none;
            color: rgb(218, 14, 92);
            font-weight: bold;
            text-transform: uppercase;

            &:hover {
                color: rgb(221, 22, 151);
            }
        }
    }
}

.changer {
    display: flex;
    margin-right: 1.5rem;

    .menu {
        cursor: pointer;
        margin-right: 1rem;
        display: none;
    }
}

.closed .close {
    display: none;
}

@media (max-width: 800px) {
    .header {
        justify-content: space-between;
    }

    .navbar {
        display: none;
        transition: 1s ease;
    }

    .navbar.active {
        display: flex;
        flex-direction: column;
        position: fixed;
        inset: 0;
        background: rgb(152, 14, 14);
        transition: 1400ms ease;
    }

    ul {
        margin: 0 auto;
        align-items: center;
        flex-direction: column;
        margin-top: 1rem;

        li {
            margin-block: 2rem;

            a {
                font-size: 20px;
                color: rgb(151, 14, 73);
                font-weight: bolder;
            }
        }
    }
}
