.header {
    width: 100%;
    display: flex;              /* FIX: invalid display:center */
    align-items: center;
    justify-content: space-between; /* FIX: proper navbar alignment */
    position: relative;         /* FIX: removes overlap */
    z-index: 1;
    color: rgb(218, 14, 92);
    :hover{
        color: rgb(201, 15, 114);
    }
}

.header__logo {
    margin-left: 4rem;
}

.navbar {
    margin: 0 auto;
}

ul {
    display: flex;
    align-items: center;

    li {
        list-style: none;
        margin: 0 1rem;

        a {
            text-decoration: none;
            color: rgb(218, 14, 92);
            font-weight: bold;
            text-transform: uppercase;

            &:hover {             /* FIX: space removed */
                color: rgb(221, 22, 151);
            }
        }
    }
}

.changer {
    display: flex;
    margin-right: 1.5rem;       /* FIX: typo margin-righht */

    .menu {
        cursor: pointer;
        margin-right: 1rem;
        display: none;
    }
}

.closed .close {                /* FIX: selector correction */
    display: none;
}
