.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  color: rgb(218, 14, 92);
  padding: 1.5rem 3rem;
  padding: 1rem 3rem;  
}
// .header-inner {
//   width: 100%;
//   max-width: 1200px;         /* same idea as main section */
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

.header__logo {
//   margin-left: 1rem;
  margin-right: 12rem;

  h1 {
    font-size: 2.6rem;
    font-weight: 800;
  }
}

.header__logo h1 .initial {
  transition: color 0.2s ease;
}

.header__logo h1:hover .initial {
  color: #1e4dff;
}

.navbar {
  margin-left: 4rem;   /* add or increase this */
}

.navbar {
  margin-right: 28rem;
}

ul {
  display: flex;
  align-items: center;

  li {
    list-style: none;
    margin: 0 1.2rem;

    a {
      text-decoration: none;
      color: rgb(218, 14, 92);
      font-weight: 700;
      font-size: 1.8rem;
    }
  }
}

.changer {
  display: none;
}

.closed {
  display: none;
}

/* SMALL SCREENS */

@media (max-width: 1000px) {
  .header {
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
  }

  .navbar {
    display: flex;
  }

  ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    margin-left: 6rem;
  }

  ul li a {
    font-size: 2rem;
    letter-spacing: 0.05em;
  }
}

body {
  background-color: black;
  transition: background-color 0.1s ease;
}

.header h1,
.header a,
.header li {
  transition: color 0.2s ease;
}

.header h1:hover,
.header a:hover,
.header li:hover {
  color: rgb(93, 2, 36);
}
